@using MyAppMVC.ViewModels.HomeViewModel
@model ShowProductsViewModel

@{
    ViewBag.Title = "Products";
}

<div class="container">
    <div class="row justify-content-left mt-4">
        <div class="col-md-6">
            <h2 class="mt-4">Products List</h2>
            <form method="post" asp-action="ToggleView">
                <input type="hidden" name="ShowStyle" value="@Model.ShowStyle" />
                <button type="submit" class="btn btn-primary mt-2 mb-3">Toggle View</button>
            </form>
            @if (Model.ShowStyle == ShowStyles.List)
            {
                <ul class="list-group">
                    @foreach (var product in Model.Products)
                    {
                        @await Component.InvokeAsync("ProductTable", product)
                       @*  <li class="list-group-item">@product.Id. @product.Name - $@product.Price (@product.CreatedDate)</li> *@
                    }
                </ul>
            }
            else
            {
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>$@product.Price</td>
                                <td>@product.CreatedDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
